<ion-header>
  <ion-toolbar>
    <ion-title>addItinerary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>
      <ion-card (click)="goToSearch()">
        <ion-card-header>
          <ion-card-subtitle>Ajouter l'arrêt de départ</ion-card-subtitle>
          <ion-card-title>{{start}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </li>
    <li>
      <ion-card (click)="goToSearchEnd()">
        <ion-card-header>
          <ion-card-subtitle>Ajouter l'arrêt d'arrivée</ion-card-subtitle>
          <ion-card-title>{{end}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </li>
  </ul>
</ion-content>
