<ion-header mode="ios">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Retour">
          </ion-back-button>
        </ion-buttons>
  </ion-toolbar>
  <h1>Changer le nom</h1> 
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="saveName(form)" method="post">
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input ngModel value="{{data && data.user && data.user.firstname}}" name="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input ngModel value="{{data && data.user && data.user.lastname}}" name="lastname"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Sauvegarder</ion-button>
    </form>
</ion-content>
