<ion-header mode="ios">
  <ion-toolbar>  
      <ion-buttons slot="end">
          <ion-chip color="danger" *ngIf="!networkStatus">
                  <ion-icon name="ios-wifi"></ion-icon>
              <ion-label>offline</ion-label>
            </ion-chip>
          <ion-icon name="settings" (click)="goToSettings()"></ion-icon>
      </ion-buttons>
          <h1 class="ion-title">Bonjour</h1>  
          <h1>{{data.user && data.user.firstname}} {{ data.user && data.user.lastname}}</h1>      
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list>
      <ion-item-sliding #item *ngFor="let it of data.itineraries" (click)="addStatistique(it.id)">
        <ion-item>
            <ion-card-header>
              <ion-card-subtitle>De - vers</ion-card-subtitle>
              <ion-card-title>{{it.stations[0].name}}</ion-card-title>
              <div class="trait"></div>
              <ion-card-title>{{it.stations[1].name}}</ion-card-title>
            </ion-card-header>
         </ion-item>
        <ion-item-options side="start" (ionSwipe)="goToPageStatistique(it.id)">
        </ion-item-options>
          <ion-item-options side="end" (ionSwipe)="goToPageItinerary(it.id)">
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToItinerary()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
