<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>
        <ion-card (click)="goToItinerary()">
            <ion-card-header>
              <ion-card-subtitle>Ajouter un itinéraire</ion-card-subtitle>
              <ion-card-title></ion-card-title>
            </ion-card-header>
          </ion-card>
    </li>
    <li>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>LEB</ion-card-title>
        </ion-card-header>
      </ion-card>
    </li>
    <li>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Settings</ion-card-title>
        </ion-card-header>
      </ion-card>
    </li>
  </ul>
</ion-content>
